@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  height: auto;
}

body {
  margin: 0px;
  padding: 0px;
  min-width: 375px;
  height: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  overflow-y: auto;
  position: relative;
  overflow-y: scroll; /* 항상 스크롤 가능하되 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  /* 공통 폰트 Pretendard 적용 */
  @apply font-kr;
  user-select: none;
}
